# Data Science Tools and Ecosystem

# Author
Nain

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives:
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* List Data Science Tools

# Some of the popular languages that Data Scientists use are:
1. python
2. R
3. Julia

# Some of the commonly used libraries used by Data Scientists include:
1. Sci-kit learn
2. Keras
3. TensorFlow

# Data Science Tools
Data Science Tools
---
Jupyter Notebook
---
Apache Spark
---
Apache Hadoop
---

### Below are a few examples of evaluating arithmetic expressions in Python

In [21]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [23]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335